



.event-box { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: left;
  align-items: start; /* ensures all events top-aligned */
  gap: 20px;
  
}

.event {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: auto;
}

.event-title {
  background-color: #2f586e;
  color: white;
  border: none;
  font-size: 20px;
  padding: 5px 0px;
  width: 100%;
}




.event-box
{
 display: flex;
 flex-wrap: wrap;
 text-align: center;
 justify-content: center;
}
