



.event-box
{
  margin-left: 20px;
  margin-right: 20px;
  gap: 30px;
}

.event-title
{
      border: none;
      background-color: #2f586e;
  color: white;
  margin-bottom: 0px;
  width: max-content;
  justify-content: stretch;
  font-size: 26px;
  padding: 10px;
}

.event
{
  min-width: 250px;
}

.event-pic{
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
}

.instagram-media
{
  width:10px;


}
.event-box
{
 display: flex;
 flex-wrap: wrap;
 text-align: center;
 justify-content: center;
}
