body
{
   background-color:#e6f0ff;
   margin-left: 0px;
   margin-right: 0px;
   margin-top:120px ;
   padding-bottom: 10px;
   scroll-behavior: smooth;
}
.main-div-n
{
  padding-left: 20px;
  padding-right: 20px;
}

h1
{
  
  background-color:   #87CEEB ;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
  
}


.Navigation_bar
{
  background-color: #87CEEB;
  
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  flex-direction: row;
  border-radius: 4px;
  padding-top: 0;
  
  position: fixed;
  top:0;
  width: 100%;
 
}

.link-set
{
  display: flex;
  flex-wrap:wrap;
  justify-content:space-between;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #d3d3d3;
  padding-top: 10px;
  padding-bottom: 10px;
    border: 5px solid;

  border-image: linear-gradient(45deg, #d4af37, #ffd700, #b8860b, #ffd700, #d4af37) 1;
  margin-bottom: 0px;
}

.Navigation-links
{

padding-left: 8px;
padding-right: 8px;
padding-top: 4px;
padding-bottom: 4px;

border-radius: 5px;
text-decoration: none;
color: black;
}

.church-img{

height: auto;
margin-top: 20px;
border-radius: 5px;
max-width: 800px;
width: 100%;
vertical-align: top;
border-radius: 20px;
border: 4px solid transparent;
}

.church-img:hover
{
  border: 4PX solid #ffd700;
}

.church-image
{
  gap:10px;
  display: flex;
  flex-wrap: wrap;
 
  justify-content: center;
  }
  

.brief-history
{
  min-width: 320px;
  max-width:960px ;
  flex:1;
  background-color: #d3d3d3;
  
  border-radius: 15px;
  margin-left: 5px;
  margin-right: 5px;
    padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
  border: 4px solid transparent;
  
}

.brief-history:hover
{
  border: 4px solid #ffd700;
}

.father-image
{
  border-radius: 100%;
  margin-top: 10px;
  border:2px solid black;
}

.message-ParishPriest
{
  
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 10px;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;

}
.message-from-father:hover{
border: 4px solid #ffd700;
}

.frprofile
{
  
  
  text-align: center;
      
  margin-right: 20px;
  font-weight: bold;
}

.message-from-father
{
  flex:1;
  font-size: 25px;
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color:#d3d3d3;
  padding-top: 10px;
  border: 4px solid transparent;
 
}

/*  footer css begins */
footer{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #d3d3d3;
  padding-bottom: 20px;
   align-items: center;
      margin-left: 5px;
   margin-right: 5px;
   border-radius: 20px;
 border: 4px solid transparent;
}


footer:hover
{
  border: 4px solid #ffd700;
}

.footer-box
{ 
  flex:1;
  border-radius: 15px;
  white-space:nowrap;
  margin-top: 20px ;
  background-color:  #d3d3d3;
  padding-left: 10px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  min-width: 270px;
  
}


.footer-box1
{ 
   min-width: 270px;
  justify-content: center;
  border-radius: 15px;
  flex:1;
  margin-top: 20px ;
  background-color:  #d3d3d3;
  
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  border-left: 5px solid;
  text-align: center;
  border-image: linear-gradient(45deg, #d4af37, #ffd700, #b8860b, #ffd700, #d4af37) 1; ;
  border-right: 5px solid;
  border-image: linear-gradient(45deg, #d4af37, #ffd700, #b8860b, #ffd700, #d4af37) 1; ;
}


.map{
  
  width:250px;
  border-radius: 20px;
  border: 2px solid #ffd700;
}

.mass-time-box
{
  text-align: center;
  background-color: #d3d3d3;
  border-radius: 10px;
  margin-left: 17px;
  margin-right: 17px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 4px solid transparent;
}
.mass-time-box:hover
{
 border: 4px solid #ffd700;
}
/* footer css ends  */



.message-title
{

 /* gold color code */
  border: 5px solid;

  border-image: linear-gradient(45deg, #d4af37, #ffd700, #b8860b, #ffd700, #d4af37) 1;




  border-radius: 8px; /* optional, makes corners smoother */
  padding: 20px; /* for content spacing */
}

.logo-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cr4 {
  
  
  width:100px;
  height: 93px;
  position: fixed;
  top:0px;
}

.logo-heading h1 {
  flex: 1;
  text-align: center;
  
  margin: 0;
}

@media(max-width:500px){

body
{
  margin-top: 150px;
}

}

