

.church-img{

height: auto;
margin-top: 20px;
border-radius: 5px;
max-width: 800px;
width: 100%;
vertical-align: top;
border-radius: 20px;
border: 4px solid transparent;
}

.church-img:hover
{
  border: 4PX solid #ffd700;
}

.church-image
{
  gap:10px;
  display: flex;
  flex-wrap: wrap;
 
  justify-content: center;
  }
  

.brief-history
{
  min-width: 320px;
  max-width:960px ;
  flex:1;
  background-color: #d2973b;
  
  border-radius: 15px;
  margin-left: 5px;
  margin-right: 5px;
    padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
  border: 4px solid transparent;
  
}

.brief-history:hover
{
  border: 4px solid #ffd700;
}

.father-image
{
  border-radius: 20px;
  margin-top: 10px;
  border:2px solid black;
  max-height: 200px;
}

.message-ParishPriest
{
  
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  gap: 10px;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;

}
.message-from-father:hover{
border: 4px solid #ffd700;
}

.frprofile
{
  
  
  text-align: center;
  border: 5px solid transparent; 
  border-radius: 15px;
  background-color: #d2973b;  
  margin-right: 20px;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
}

.message-from-father
{
  flex:1;
  font-size: 25px;
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color:#d3d3d3;
  padding-top: 10px;
  border: 4px solid transparent;
  background-color: #e8c882;
}



.message-title
{

 
  border: none;
  background-color: #2f586e;
  color: white;
  padding: 20px; /* for content spacing */
}

.logo-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cr4 {
  
  
  width:100px;
  height: 93px;
  position: fixed;
  top:0px;
}

.logo-heading h1 {
  flex: 1;
  text-align: center;
  
  margin: 0;
}


