:root
{
  --borderRadius : 20px;
  --padding : 8px;
}

/* home CSS starts here */

.dyc-div
{
  display: flex;
  background-color: white;
  padding: 20px 15px;
  border-radius: var(--borderRadius);
  margin: 10px 0px;
}

.dyc-logo-div
{ max-width: fit-content; }

.dyc-logo
{ max-width: 50%; }

.dyc-message
{
  font-size: clamp(30px , 80% , 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin : 0px auto;
  flex: 1;
}

.church-img{

height: auto;
margin-top: 20px;
border-radius: var(--borderRadius);
max-width: 800px;
width: 100%;
border: 4px solid transparent;
}

.church-image
{
  gap:10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: stretch;
  }
  
.father-image
{
  border-radius: var(--borderRadius);
  margin-top: 10px;
  border:2px solid black;
  max-height: 200px;
}

.message-ParishPriest
{
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px 5px 0px 5px;
  gap: 10px;
  justify-content: center;
  padding: var(--padding);
}
.text-box:hover,.church-img:hover{
border-color:  #ffd700;
}

.frprofile
{
  max-height: 280px;
  text-align: center;
  border: 5px solid transparent; 
  border-radius: var(--borderRadius);
  background-color: #d2973b;  
  font-weight: bold;
  padding: var(--padding);
}

.novena-div
{
padding: 20px;
display: flex;
justify-content: center;

iframe
{
  flex: 1;
  max-width: 900px;
 border-radius: var(--borderRadius);
 height: 500px;
}
}

@media (max-width:500px) 
{
  .novena-div iframe
{ height: 250px; } 

}

/* home CSS ends here */

/* comittee css starts here */

.committee-box
{ text-align: center; }

.committee-name
{
  background-color:   #2f586e ;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
    border: none;
    margin: 5px auto;
 max-width: 800px;
 padding: 10px 20px;
 color: white;
 font-weight: 900;
}

.group-pic
{
  width: 100%;
  max-width: 550px;
  border-radius: var(--borderRadius);
  margin: 0px;
  border: 4px solid transparent;
}

.group-comittee
{  text-align: center; }

.group-pic:hover,.member-box:hover{
  border: 4px solid #ffd700; }

.main-members-box
{
  display:flex;
  flex-wrap: wrap;
 justify-content: center;
  gap:15px;
  margin: 20px 0px ;
  
}

.member-box{
  background-color: #e8ca82;
  margin-top: 10px 0px;
  border: 4px solid transparent;
  padding: var(--padding);
  border-radius: var(--borderRadius);

  img
  {
    width: 150px;
  border-radius: var(--borderRadius);
 height: 200px;
  }
}

/* comittee ends here  */


/* gallery start */

.event-box { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: left;
  align-items: start; /* ensures all events top-aligned */
  gap: 20px;
  
}

.event {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: auto;
}

.event-title {
  background-color: #2f586e;
  color: white;
  border: none;
  font-size: 20px;
  padding: var(--padding);
  width: 100%;
}

.event-box
{
 display: flex;
 flex-wrap: wrap;
 text-align: center;
 justify-content: center;
}

/* gallery end */

/* chapel start  */

.all-chapel-main-box
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.chapel-name
{
   border: none;
    background-color: #2f586e;
    color: white;
  text-align: center;
  width: 100%;
  font-size: 30px;
  max-width: 390px;
  margin-bottom: 10px;
  font-weight: bold;
  margin-top: 0px;
  padding: 5px 0px;
}

.chapel-pic
{
  width: 100%;
  border-radius: var(--borderRadius);
  max-width: 380px;
  border: 4px solid  transparent;
  max-height: 500px;
}

.chapel-pic:hover
{
  border: 4px solid  #ffd700;
}

.chapel-box{
  max-width: 400px;
  width :100%;
  text-align: center;
}

.location-link
{
  text-decoration: underline;
  font-size:large;
  text-align: center;
  font-weight: bold;
  color: purple;
  margin: 0px auto;
}

.chapel-name2
{
   border: 5px solid none;
 color:white;
 padding: 10px 0px;
    background-color:   #2f586e ;
  text-align: center;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  max-width: 380px;
  margin-bottom: 10px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 0px;
  
}

.link2
{
  text-align: center;
  padding-bottom: 5px;
}

.feastDate
{ text-align: center; }

.date
{ font-weight: 700; }

/*  chapel end */

/* history start */

.mainContents
{
  background-color: #0d1f2d;
  padding: var(--padding) 10px;
  display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 10px;
  place-items: center;
  border-radius: var(--borderRadius);
  margin: 10px;
}

.h1{
  background-color: #2f586e;
  color: black;
  padding: 10px 0px;
  margin-top: 10px;
}

.htitle
{
  margin-bottom: 20px;
  background-color: #2f586e;
  color: white;
  padding: 20px;
}

.profilePic
{
  width: 150px;
  height:auto;
  border-radius: var(--borderRadius);
}

.priest-div
{
max-width: 250px;
width: 100%;
min-height: 250px;
border-radius: var(--borderRadius);
background-color:#e8ca82 ;
text-align: center;
padding:var(--padding) ;
margin: 10px;
border: 4px solid transparent;
}

.priest-div:active,.priest-div:hover
{ border-color: #ffd700; }

.location
{ color: rgb(43, 42, 42); }

.name
{  font-weight: bold;}

.oldpics
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.churchImageOld
{
  max-width: 400px;
  height:auto;
  width: 80%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: var(--borderRadius);
}

/* history end  */

/* booking start */

.pic-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.hallpic {
  max-width: 400px;  /* Adjust image size */
  width: 100%;
  height: auto;
  border-radius: var(--borderRadius);
  border: 4px solid transparent;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.hallpic:hover
{  border-color:  #ffd700; }

/* booking end */

/* lines current  435 -35 = 400 */