.text-box
{
  flex:1;
  font-size: 25px;
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color:#d3d3d3;
  padding-top: 10px;
  border: 4px solid transparent;
  background-color: #e8c882;
  font-weight: 400;
}

.text-box:hover{
border: 4px solid #ffd700;
}


/* header and footer css */
.title
{
  
  background-color:   #2f586e ;
  color: white;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5px;
  margin-bottom: 10px;
   border: none;
   padding: 10px ;
}
